{% extends "base.html" %}
{% block sights_current %} current {% endblock sights_current %}
{% block main_content %}
<h1 class="main-heading">Photo Gallery</h1>
<img src="../static/img/el-minya.jpg" alt="" class="city-img img-fluid img-thumbnail">
<img src="../static/img/nefartiti.jpg" alt="" class="city-img img-fluid img-thumbnail">
<img src="../static/img/tuna-elgabel.gif" alt="" class="city-img img-fluid img-thumbnail">
{% endblock main_content %}
{% block side_content %}
<h2 class="secondary-heading">Sights to see at El Minya</h2>
<ol>
    <li>Tuna el-Gebel</li>
    <li>Beni Hassan</li>
    <li>El Ashmunein</li>
    <li>Malawy Museum</li>
</ol>

{% endblock side_content %}